/*!
 * Media queries styles
 *
 * Copyright 2015 Mammoth. All rights reserved.
 * See LICENCE for license details.
 */

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {
  ::-webkit-input-placeholder { color: transparent !important; }
  ::-moz-placeholder          { color: transparent !important; }
  :-ms-input-placeholder      { color: transparent !important; }
  input:-moz-placeholder      { color: transparent !important; }

  .footer-made-with {
    float: right;
  }
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md-min) {}

// Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) {}
