/**
 * Main application stylesheet
 *
 * Copyright 2015 Mammoth. All rights reserved.
 * See LICENCE for license details.
 */

@import "mammoth-theme";
@import "bootstrap";
@import "animate";

// Global styles
// ==========================================================================

::-moz-selection {
  background: $body-bg;
  text-shadow: none;
  overflow-x: hidden;
}

::selection {
  background: $body-bg;
  text-shadow: none;
}

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  margin: 0 0 130px;
}

input[type="checkbox"] {
  margin: 6px 0 !important;
  margin-left: -20px !important;
}

// Browser Upgrade Prompt
// ==========================================================================

.browserupgrade {
  margin: 0;
}

// Notify
// ==========================================================================

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
}

[data-notify="icon"] {
  height: 50px;
}

[data-notify="message"] {
  padding-left: 10px;
}

// Footer
// ==========================================================================

.navbar-footer {
  background-color: #B3C5D0;
  border-color: darken(#B3C5D0, 10%);
  opacity: 0.9;
}

// Media queries
// ==========================================================================

@import "media-queries";
