/**
 * Main application stylesheet
 *
 * Copyright 2015 Mammoth. All rights reserved.
 * See LICENCE for license details.
 */

@import "mammoth-theme";
@import "bootstrap";
@import "animate";

// Global styles
// ==========================================================================

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $body-bg;
  text-shadow: none;
  overflow-x: hidden;
}

::selection {
  background: $body-bg;
  text-shadow: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 130px;
}

.navbar-footer {
  background-color: #B3C5D0;
  border-color: darken(#B3C5D0, 10%);
}

input[type="checkbox"] {
  margin: 6px 0 !important;
  margin-left: -20px !important;
}

.alert-dismissible .close {
  top: 1px !important;
}

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
}

[data-notify="icon"] {
  height: 50px;
}

// Browser Upgrade Prompt
// ==========================================================================

.browserupgrade {
  margin: 0;
}

// Media queries
// ==========================================================================

@import "media-queries";
