/**
 * Main application stylesheet
 *
 * Copyright 2015 Mammoth. All rights reserved.
 * See LICENCE for license details.
 */

// @import "bootstrap";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "mammoth-theme-variables";
@import "mammoth-theme";
@import "animate";

// Global styles
// ==========================================================================

::-moz-selection {
  background: $body-bg;
  text-shadow: none;
  overflow-x: hidden;
}

::selection {
  background: $body-bg;
  text-shadow: none;
}

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  font-family: $font-family-sans-serif;
  margin: 0 0 70px;
}

h4 {
  font-weight: 400;
}

p {
  line-height: $line-height-base;
}

.label {
  font-weight: bold;
}

.navbar-brand {
  padding: 5.5px 15px;
}

blockquote {
  border-left: transparent;
}

.jumbotron {
  margin-top: -28px;
  padding-top: 15px;
  background-color: lighten($body-bg, 5%);
}

.btn:active, .btn.active {
  height: 39px;
}

.container .marketing {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 100%;
}

.information {
  background-color: darken($body-bg, 10%);
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-bottom: 30px;
}

input[type="checkbox"] {
  margin: 5px 0 !important;
  margin-left: -20px !important;
}

.thumbnail {
  border: 1px solid #40403d;
}

#collapseMenuListGroupHeading a:nth-of-type(1) {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hearts {
  color: $brand-primary;
}

.row-callout {
  padding-bottom: 20px;
}

#searchInput {
  font-weight: bold;
  text-align: center;
}

.help-block {
  margin-bottom: 2px;
}

.footer-copyright {
  text-align: center;
}

.footer-made-with {
  text-align: center;
}

// Google reCAPTCHA
.recaptcha {
  visibility: none;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 8px;
}

.g-recaptcha {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  margin:0 auto;
  display: block;
  width: 304px;
}

// Browser Upgrade Prompt
// ==========================================================================

.browserupgrade {
  margin: 0;
}

// Notify
// ==========================================================================

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
}

[data-notify="icon"] {
  height: 50px;
}

[data-notify="message"] {
  padding-left: 10px;
}

[data-notify="dismiss"] {
  top: -10px;
}

.list-group-item.blog-archive {
  background-color: #485563;
}

// Footer
// ==========================================================================

.navbar-footer {
  background-color: $gray-lighter; // #B3C5D0
  border-color: darken(#B3C5D0, 10%);
  opacity: 0.9;
  color: $gray-light;
}

// Media queries
// ==========================================================================

@import "media-queries";
